.form_control {

}

.textarea_wrapper {
    width: 100%;
    height: 100%;
}

.input_wrapper {
    margin-top: 10px;
    text-align: center;
    width: 100%;
}

.input {
    width: 200px;
    resize: none;
}

.error {
    /*border: solid 1px red;*/
}

.input_error_text {
    color: red;
}

.errortext {
    text-align: center;
    border: solid 3px red;
}