.header {
    position: relative;
    background-color: #9e6aa8;
    grid-area: h;
}


.imgLogo {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    height: 50px;
    width: 50px;
}