.row {
    min-height: 75vh;
    background-color: #cef3f3;
}

.form {
    text-align: center;
}

.login_input {
    height: 40px;
    border-radius: 5px;
    width: 200px;
    margin:  5px;
}

.pass_input {
    height: 40px;
    border-radius: 5px;
    width: 200px;
    margin:  5px;
}

.remember_input {

}

.login_button {
    height: 40px;
    background-color: #337ab7;
    width: 200px;
    margin-top: 5px;
    transition: all .2s linear;
    border-radius: 5px;
    border: 1px solid blue;
}

.login_button:hover {
    background-color: deepskyblue;
}

.advice {
    margin-top: 50px;
}

.captcha {
    margin: 5px;
}