.content {
    padding: 20px;
    background-color: #cef3f3;
    text-align: center;
}

.row {
    margin: 0;
}


.col {
    padding: 10px;

}

.container {
    display: flex;
    justify-content: space-between;
    border: 1px solid #337ab7;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;

}

.avaImg {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.buttons {
    margin-top: 20px;
    width: 200px;
    height: 50px;
    text-transform: uppercase;
    transition: all .2s linear;
    border: 1px solid black;
    border-radius: 3px;
}

.unfollowButton {

    background-color: #faa8ac;
    color: #cef3f3;

}

.followButton {
    color: #1e083d;
    background-color: #92ffb9;
}

.info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    text-align: left;


}

.fullName {
    font-weight: 700;
    font-size: 40px;
}

.status {
    font-size: 20px;
    padding-top: 10px;
}

.city {
    font-weight: 700;
    text-align: right;
    margin-left: 5px;
    font-size: 30px;

}

.country {
    text-align: right;
    margin-left: 5px;
    font-size: 25px;
}

.pagetext {
    font-size: 25px;
    font-weight: 700;
}

.pageButton {
    border: #337ab7 1px solid ;
    border-radius: 3px;
    margin: 3px;
    background-color: #61dafb;
    font-size: 20px;
    height: 50px;
    width: 60px;
    transition: all .2s linear;
}

.pageButton:hover {
    background-color: #92ffee;
}

.selectButton {
    background-color: #a9fdfb;
    font-weight: 700;
}
.spinner {
    color: #337ab7;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.spinner div {
    transform-origin: 40px 40px;
    animation: spinner 1.2s linear infinite;
}
.spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #337ab7;
}
.spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}
.spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}
.spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}
.spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}
.spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}
.spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}
.spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}
.spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}
.spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}
.spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}
.spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}
.spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}
@keyframes spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


@media (max-width: 800px) {
    .avaImg {
        width: 150px;
        height: 150px;
    }
    .buttons {
        width: 150px;
    }

    .fullName {
        font-size: 30px;
    }
    .status {
        font-size: 18px;
    }
    .city {
        font-size: 25px;
    }
    .country {
        font-size: 20px;
    }
}

@media (max-width: 600px) {
    .avaImg {
        width: 100px;
        height: 100px;
    }
    .buttons {
        width: 100px;
    }
    .fullName {
        font-size: 20px;
    }
    .status {
        font-size: 16px;
    }
    .city {
        font-size: 15px;
    }
    .country {
        font-size: 12px;
    }
    .pageButton {
        width: 35px;
        height: 40px;
    }
}

@media (max-width: 480px) {
    .city {
        display: none;
    }
    .status {
        font-size: 14px;
    }
    .country {
        display: none;

    }
}

@media (max-width: 400px) {

    .avaImg {
        width: 85px;
        height: 85px;
    }
    .buttons {
        width: 85px;
    }
    .info {
        padding: 10px;
    }
    .fullName {
        font-weight: 500;
        font-size: 15px;
    }
    .status {
        font-size: 10px;
    }
}