.content{
    padding: 20px;
    background-color: #cef3f3;
}

.row {
    margin: 0;
}


.col {
    padding: 0;
}

.dialogs {
    padding: 0 10px;
    border: 1px solid #337ab7;
    border-radius: 55px;
}

.messagies {
    font-size: 20px;
    border: 1px solid #00bfff;
    border-radius: 25px;
    padding-left: 30px;
}

.friend {
    display: flex;
    justify-content: flex-start;
    margin: 15px 20px 15px 0;
}

.textzone {
    display: flex;
    justify-content: left;
    margin: 20px;
    margin-left: 0;
}

.textarea {
    width: 100%;
    height: 70px;
    resize: none;
}

.sendButton {
    border-radius: 5px;
    padding: 10px;
    margin-left: 5px;
    background-color: #92ffee;
    transition: all .8s linear;
}



.sendButton:hover {
    background-color: #92ffb9;
}



@media (max-width: 480px) {
    .content{
        padding: 20px 10px;
    }

}

@media (max-width: 440px) {

    .content{
        padding: 20px 5px 20px 0px;
    }
    .dialogs {
        padding: 0 3px;
    }

}
